
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: Courgette, cursive;
}

:root {
  --heading: 4.5em;
  --subHeading: 2em;
  --green: rgb(70, 127, 188);
}

.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}



body {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  overflow: hidden;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header {
  width: 100%;
  height: 50px;
  background-color: var(--green);
  position: fixed;
  top: 0;
  box-shadow: 0 2px 5px rgba(182, 252, 240, 0.489);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  color: white;

  * {
    font-weight: 600;
    font-size: 1.1rem;
  }
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
  font-family: Sofadi One, sans-serif;
}

.sofadi-one-regular {
  font-family: "courgette-regular", system-ui;
  font-weight: 800;
  font-style: normal;
}


header nav ul {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  gap: 30px;
  box-sizing: border-box;
}

header nav ul a {
  text-decoration: none;
  color: white;
    &:hover {
      color: rgb(221, 214, 214);
      border-bottom: 1px solid white;
    }
}

.headerIcons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  color: white;
}

.headerIcons i {
  color: white;
}

header {
  width: 100%;
  height: 50px;
  background-color: var(--green);
  position: fixed;
  top: 0;
  box-shadow: 0 2px 5px rgba(182, 252, 240, 0.489);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;

  * {
    font-weight: 600;
    font-size: 1.1rem;
  }
}

.hamboger {
  display:  none;
}

header nav ul {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  gap: 30px;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

/* Left side */
.leftSide {
  width: 59%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 30px;
  margin-top: 50px;
  /* padding-top: 50px; */
  /* background-color: blueviolet; */
}


.hello {
  font-size: var(--heading);
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    transform: scale(30%);
  }
}

.myName {
  font-size: var(--subHeading);
}


.im {
  font-weight: 500;
}

.AboutMe {
  font-size: 1.3em;
  width: 90%;
  text-align: center;
  margin: auto;
}

/* desc */
.desc {
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 20px 10px;
  box-sizing: border-box;
  /* background-color: aqua; */
}

/* action buttons */
.buttons {
  width: fit-content;
  height: 100px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  animation: slideUp 1s;
  /* background-color: aqua; */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
}

.buttons button {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--green);
  margin: auto;
  font-size: 17px;
  font-weight: 600;
  color: white;
}

/* RIGHT SIDE */
.rightSide {
  width: 39%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSide img.profilePic{
  width: 80%;
  height: 400px;
  display: flex;
  animation: slideDown 1s;
  border-radius: 100%;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 768px) {

  .hamboger {
  display:  flex;
}


  body {
    background-color: rgb(208, 251, 237);
    width: 100%;
    height: 100vh;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow: scroll;
  }

    header nav ul {
    width: fit-content;
    height: 40px;
    width: 100%;
    position: absolute;
    float: right;
    right: 0;
    display: none;
    margin-top: 22px;
    border-top: 1px solid #3f3d3db7;
    flex-direction: row;
    background-color: var(--green);
    align-items: left;
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    justify-content: space-between;
    padding: 5px 15px;
    gap: 30px;
    box-sizing: border-box;

    animation: enterFromTop .5s;
  }

  .show {
    display: flex;
  }

  @keyframes enterFromTop {
     0% {
    opacity: 0;
    transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
  }

  .main {
    width: 100vw;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 15%;
    /* margin-top: 50px;
    padding-top: 20px; */
    /* overflow: hidden; */
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    /* background-color: aqua; */
  }

  /* Left side */
  .leftSide {
    all: unset;
    width: 98%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    /* padding-top: 50px; */
    /* background-color: blueviolet; */
  }

    /* RIGHT SIDE */
  .rightSide {
    all: unset;
    width: 80%;
    height: 40%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
  }

  .rightSide img.profilePic{
  width: 80%;
  height: 100%;
  max-width: 350px;
  max-height: 380px;
  border-radius: 100%;
  display: flex;
  margin: auto;
  margin-top: 10px;
  display: flex;
  bottom: 0;
}

  .hello {
    font-size: 2.5em;
    font-weight: 600;
    animation: fade-in 1s;
    margin-top: 80px;
  }

  .AboutMe {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  /* desc */
  .desc {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }

  /* action buttons */
  .buttons {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: slideUp 1s;
    /* background-color: rgb(93, 145, 46); */
  }

}